
deps*/
.vscode/
build/
.idea/
cmake-*/
r
src/CMakeFiles
src/lib/CMakeFiles
src/lib/Makefile
src/lib/cmake_install.cmake
src/lib/libudp-client.a
src/CMakeCache.txt
src/Makefile
src/cmake_install.cmake
